* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    line-height: 1.6;
}
    
h2 {
    margin-top: 20px;
}

.resume-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.resume-side {
    display: flex;
}

.left-side {
    background-color: rgba(71, 71, 71, 0.829);
    display: flex;
    flex-direction: column;
    width: 30%;
    min-height: 600px;
    border-radius: 20px 0px 0px 20px;
    padding: 10px;
    align-items: center;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.perfil {
    /* border: 4px solid white; */
    display: flex;
    width: 100%;
    height: 150px;
    border-radius: 50%;
    padding: 10px;  
    transition: .6s;
}

.perfil:hover {
    scale: 1.04;
    transition: .4s;
}

.contacts, .skills {
    display: flex;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: bolder;
    color: white;
}

.skills {
  flex-direction: column;
  
}

.line {
    
    border-bottom: black 4px solid;
    width: 240px;
    margin-bottom: 10px;
    /* color: goldenrod; */
    
}

.indicator {
    
   position: absolute;
   transition: width 2s ease;
   width: 0%;
   min-width: 0%;
   max-width: 240px;
   /* medir o width em % 16% = 100% do line   */
}


.info-skills h4, .info-perfil h4 {
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    font-family: Haettenschweiler, sans-serif, Helvetica, sans-serif; 
    color: white;

}

.info-perfil i {
    margin-bottom: 14px;
    margin-right: 15px;
    transition: .2s;
}

.info-perfil i:hover {
    color: rgb(211, 207, 207);
    transition: .2s;
    scale: 1.1;
}

.right-side {
    background-color: dimgray;
    width: 100%;
    border-radius: 0px 20px 20px 0px;
    padding: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    font-family: "Roboto";
    color: white;
}

.card-experience {
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 100%;
    padding: 5px 20px;
    height: 80px;
    margin-top: 8px;
    font-size: 17px;
    transition: .8s;
    opacity: 0;
}

.card-experience:hover {
    background-color: #c7c6c6;
    transition: ease .4s;
    cursor: pointer;
    width: 96%;
}

.card-courses {
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 100%;
    padding: 10px 20px;
    height: 50px;
    margin-top: 8px;
    font-size: 16px;
    transition: .9s;
    opacity: 0;
}

.card-courses:hover {
    background-color: #c7c6c6;
    transition: ease .4s;
    cursor: pointer;
    width: 98%;
}


.card-projects {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: auto;
    gap: 10px;
    
}

.card {
    color: black;
    background-color: white;
    width: 300px;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 8px;
    transition: .4s;
}

.card:hover {
    scale: 0.98;
    transition: .4s;
    background-color: #c7c6c6;
    cursor: pointer;
}
